body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #051622;
}

.page-header {
    vertical-align: center;
    display: flex;
    width: auto;
    height: 40px;
    max-height: 40px;
    border: solid 1px #deb992;
    padding-bottom: 2px;
    border-style: none none solid none;
}

.page-header > input {
    float: right;
    width: 20%;
    height: auto;
    margin: 2px 2px 2px auto;
}

.page-header > button {
    margin: 2px;
}

.page-header > .LogoName > p {
    color: #deb992;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    font-size: 1.6em;
}

.LogoHighlight {
    color: #1ba098;
}

.pageButton {
    background: #dac6b3;
    border-color: #deb992;
}

.pageInputField {
    background-color: #dac6b3;
    border-color: #deb992;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-height: 900px;
    margin: 10px;
    width: auto;
}

.container-head {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 10px;
}

.container-head > h2 {
    color: #deb992;
    width: 22%;
    text-align: center;
    margin: 0;
}

.container-head > .documentContent {
    width: 34%;
    text-align: center;
    margin: 0;
}

.column {
    flex: 1;
    max-width: 22%;
    height: inherit;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 4px;
    margin: -1px;
    border: solid;
    border-color: #deb992;
    border-width: 1px;
}

.card {
    text-align: center;
    background-color: #dac6b3;
    border: 1px solid #d89e60;
    height: 50px;
    max-height: 50px;
    padding: 4px;
    margin-bottom: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}

.card:hover {
    transform: scale(1.01);
    background-color: darkgrey;
}

.card > button {
    height: 30px;
    width: 48%;
    border-radius: 0;
    padding: 4px;
    margin: 2px;
}

.card > h3 {
    margin: 0 auto 0 auto;
    text-align: center;
    height: 20px;
    width: 100%;
}

.docContents {
    display: flexbox;
    flex-wrap: wrap;
    
    height: inherit;
    max-height: inherit;
    width: 34%;
    padding: 4px;
    margin: -1px;
    border: solid;
    color: #dac6b3;
    border-color: #deb992;
    border-width: 1px;
}

.docContentsInsides {
    height: 100%;
    width: calc((100%) - 8px);
    margin: 0;
    padding: 4px;
    overflow-wrap: anywhere;
    color: inherit;
}