body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0E2C40;
}

.page-header {
    background-color: #1A4A5A;
    vertical-align: center;
    display: flex;
    width: auto;
    height: 40px;
    max-height: 40px;
    border: solid 1px #deb992;
    padding-bottom: 2px;
    border-style: none none solid none;
}

.page-header > input {
    float: right;
    width: 20%;
    height: auto;
    margin: 2px 2px 2px auto;
}

.page-header > button {
    margin: 2px;
}

.page-header > .LogoName > p {
    color: #deb992;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    font-size: 1.6em;
}

.LogoHighlight {
    color: #1ba098;
}

.pageButton {
    background: #dac6b3;
    border-color: #deb992;
}

.pageInputField {
    background-color: #dac6b3;
    border-color: #deb992;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    max-height: 900px;
    margin: 10px;
    width: auto;
}

.container-head {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 20px;
}

.container-head > h2 {
    color: #deb992;
    width: 22%;
    text-align: center;
    margin: 0;
}

.container-head > .documentContent {
    width: 34%;
    text-align: center;
    margin: 0;
}

.column-holder {
    width: 22%;
    border: solid;
    background-color: #1A4A5A;
    border-width: 1px;
    height: 90%;
}

.column-holder > h2 {
    width: 100%;
    color: #deb992;
    text-align: center;

}

#contentsColumn {
    width: 33%;
}

.column {
    flex: 1;
    width: 93%;
    height: inherit;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 4px;
    margin: 5px;
    border: solid;
    border-color: #deb992;
    border-width: 1px;
    border-radius: 10px;
}

.card {
    text-align: center;
    background-color: #dac6b3;
    border: 1px solid #d89e60;
    height: 50px;
    max-height: 50px;
    padding: 4px;
    margin-bottom: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition-duration: 0.2s;
}

.card:hover {
    transform: scale(1.01);
    background-color: darkgrey;
}

.card > button {
    height: 30px;
    width: 48%;
    border-radius: 0;
    padding: 4px;
    margin: 2px;
}

.card > h3 {
    margin: 0 auto 0 auto;
    text-align: center;
    height: 20px;
    width: 100%;
}

.docContents {
    display: flexbox;
    flex-wrap: wrap;
    height: inherit;
    max-height: inherit;
    width: 95%;
    padding: 4px;
    margin: 5px;
    border: solid;
    color: #dac6b3;
    border-color: #deb992;
    border-width: 1px;
    border-radius: 10px;
}

.docContentsInsides {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 99%;
    width: calc((100%) - 8px);
    margin: 0;
    padding: 4px;
    overflow-wrap: anywhere;
    color: inherit;
}

@media screen and (max-width: 420px) {
    
    .page-header {
        padding: 15px 0 5px 0;
    }
    
    .container {
        display: flex;
        gap: 0;
    }

    .card > button {
        width: 46%;
        overflow: hidden;
    }

    .column {
        width: 32.666666667%;
        max-width: 32.666666667%;
        height: 20%;
        overflow-x: hidden;
    }

    .LogoName {
        width: 25%;
        margin: 0;
        font-size: x-small;
        justify-content: center;
        vertical-align: middle;
    }

    .Logo {
        height: auto;
        margin: 6px;
    }

    .documentContent {
        display: none;
    }

    .container-head > h2 {
        color: #deb992;
        width: 32.666666667%;
        font-size: small;
        text-align: center;
        margin: 0;
    }

    .docContents {
        width: 98%;
        max-width: 98%;
        max-height: 60%;
        bottom: 60px;
        position: relative;
    }
}
